@import './../components/style/variable.less';
.page {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  .content {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    &.white {
      background: #FFF;
    }
  }
}

.fixed-content, .scroll-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin-top: 88px;
  &.with-tab {
    margin-top: 170px;
  }
}

.scroll-content {
  z-index: 1;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}

.head-content {
  height: 170px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.head-inner {
  display: flex;
  padding: 30px 24px 40px;
  display: flex;
  align-items: center;
}

.user-head {
  width: 100px;
  height: 100px;
}

.user-text {
  margin-left: 20px;
  font-size: 36px;
  font-weight: bold;
  color: #FFF;
}

.game-content {
  margin-top: 20px;
  background: #FFF;
}

.g-item {
  padding: 40px 20px;
  background: #FFF;
  border-bottom: 1px solid #E4E4E4;
  &:last-child {
    border-bottom: none;
  }
  .more-link {
    font-size: 28px;
    color: @primary;
    text-decoration: none;
  }
  .title {
    span {
      flex: 1;
      line-height: 32px;
      text-align: left;
      font-size: 32px;
    }
  }
  .game-list {
    padding-top: 40px;
    ul {
      display: flex;
    }
    .item {
      /**单个游戏图标大小**/
      width: 146px;
      margin-right: 40px;
      span {
        display: block;
        width: 100%;
      }
      .icon {
        width: 146px;
        height: 146px;
        border-radius: 20px;
        background-size: 100%;
        background-repeat: no-repeat;
      }
      .name {
        margin-top: 24px;
        font-size: 22px;
        color: @font-color;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-height: 24px;
        max-height: 46px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}


/***历程****/

.timeline {
  padding-top: 20px;
  .head {
    background: #FFF;
    .title {
      padding: 30px 20px;
      font-size: 32px;
      font-weight: bold;
      color: @font-color;
    }
    .tabs {
      display: flex;
      border-top: 1px solid #E4E4E4;
      border-bottom: 1px solid #e4e4e4;
      .tab {
        flex: 1;
        height: 90px;
        line-height: 90px;
        font-size: 32px;
        text-align: center;
        border-bottom: 4px solid transparent;
        color: #8E8E8E;
        &.current {
          color: @primary;
          border-bottom-color: @primary;
        }
      }
    }
  }
  /***时间轴****/
  .t-content {
    .t-item {
      display: flex;
      overflow: hidden;
      align-items: flex-start;
      justify-content: space-between;
      padding: 32px 24px;
      .date {
        padding-right: 24px;
        text-align: center;
        .day {
          display: block;
          line-height: 26px;
          font-size: 36px;
          font-weight: bold;
          color: @font-color;
        }
        .month {
          display: block;
          padding-top: 6px;
          font-size: 22px;
          white-space: nowrap;
          color: @font-color;
        }
      }
      .card {
        flex: 1;
        padding: 30px;
        border: 1px solid #E4E4E4;
        background: #FFF;
        .title {
          margin-bottom: 30px;
          line-height: 28px;
          font-size: 28px;
          color: @font-color;
          .sub {
            float: right;
            font-size: 24px;
            color: #8E8E8E;
          }
        }
      }
    }
    .year {
      padding: 0 24px;
      font-size: 36px;
      font-weight: bold;
      color: @font-color;
    }
  }
}


/***单行一个游戏**/

.game-item-h {
  .icon {
    width: 146px;
    height: 146px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 20px;
    float: left;
  }
  .detail {
    height: 146px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: none;
      white-space: nowrap;
    }
    .sub-title {
      margin-top: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: none;
      white-space: nowrap;
      font-size: 24px;
      color: #8E8E8E;
    }
  }
}


/*****没有数据展示*********/

.no-data-wrap {
  width: 100%;
  text-align: center;
  background: #f2f2f2;
  padding-top: .2rem;
  .box {
    width: 100%;
    margin-top: -167px;
    position: absolute;
    top: 50%;
    .text {
      font-size: 30px;
      color: #8E8E8E;
      margin: 38px 0 40px;
    }
  }
}


/**
 * 游戏界面
 */

.pull-right {
  float: right;
}

.game-slider {
  height: 232px;
  .swiper-slide {
    img {
      width: 100%;
    }
  }
  .swiper-pagination {
    text-align: right;
  }
  .swiper-pagination-bullet {
    background: #FFF;
    opacity: .8;
  }
  .swiper-pagination-bullet-active {
    background: @primary;
  }
}

.hot-game-section {
  border-bottom: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hot-games {
  display: flex;
  padding-top: 36px;
  .hot-game-item {
    position: relative;
    padding-top: 54px;
    flex: 1;
    text-align: center;
    .icon {
      display: inline-block;
      width: 146px;
      height: 146px;
      border-radius: .2rem;
      background-size: 100%;
      background-repeat: no-repeat;
    }
    .name {
      padding: 20px 0 16px;
      font-size: 28px;
      color: #333;
    }
    .sub-text {
      font-size: 24px;
      color: #8E8E8E;
    }
    &:nth-child(1) {
      padding-top: 0;
      order: -1;
      .icon {
        width: 200px;
        height: 200px;
      }
      .badge {
        width: 66px;
        height: 91px;
        top: -20px;
        right: 0;
        background-image: url('../images/ranking_1.png');
      }
    }
    &:nth-child(2) {
      order: -2;
      .badge {
        background-image: url('../images/ranking_2.png');
      }
    }
    .badge {
      display: block;
      width: 56px;
      height: 79px;
      background-image: url('../images/ranking_3.png');
      background-size: 100%;
      background-repeat: no-repeat;
      position: absolute;
      top: 38px;
      right: 28px;
      z-index: 1;
    }
    .button {
      margin-top: 26px;
      width: 114px;
      height: 62px;
      font-size: 32px;
      border-radius: 10px;
    }
  }
}

.game-list-wrap {
  background: #FFF;
  .header-wrap {
    display: flex;
    padding: 40px 20px 0;
    .title {
      flex: 1;
      font-size: 32px;
      color: #333;
    }
    .more-link {
      font-size: 28px;
      line-height: 32px;
      color: @primary;
      text-decoration: none;
    }
  }
}

.group-badge {
  margin-bottom: 18px;
  .badge-text {
    font-size: 24px;
    color: #8E8E8E;
    vertical-align: -webkit-baseline-middle;
  }
  .button {
    margin-right: 10px;
  }
}

.game-list-item {
  display: flex;
  padding: 40px 20px 30px;
  &.with-bottom-line {
    border-bottom: 1px solid #E4E4E4;
  }
  .list-item-content {
    flex: 1;
    padding: 0 20px;
    .title {
      font-size: 36px;
      color: #333;
      margin-bottom: 18px;
    }
    .sub-text {
      font-size: 24px;
      color: #8E8E8E;
    }
  }
  .list-item-right {
    display: flex;
    align-items: center;
    .button {
      width: 114px;
      height: 62px;
      font-size: 32px;
      line-height: 62px;
      border-radius: 10px;
      &.loading-button {
        margin-left: 36px;
        margin-right: 36px;
        width: 42px;
        height: 42px;
      }
    }
  }
}

.game-icon {
  display: inline-block;
  width: 146px;
  height: 146px;
  border-radius: 20px;
}


/**数据加载中**/

.data-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  font-size: 30px;
  color: #8E8E8E;
  text-align: center;
  background: #FFF;
  .loading-spiner {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 16px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('./../images/loading.png');
    animation: loading 1s infinite linear;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.no-more-data {
  padding: 30px 0;
  font-size: 30px;
  color: #8E8E8E;
  text-align: center;
  background: #f2f2f2;
}


/**新游戏榜 tab***/

.top-tab {
  display: flex;
  padding: 50px 0 10px 24px;
  margin-top: 20px;
  background: #FFF;
  .top-tab-item {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #8E8E8E;
    border-left: 2px solid #eAEAEA;
    margin-left: 30px;
    padding-left: 30px;
    text-decoration: none;
    &:nth-child(1) {
      border-left: none;
      margin-left: 0;
      padding-left: 0;
    }
    .icon {
      display: inline-block;
      margin-right: 10px;
      background-size: 100%;
      background-repeat: no-repeat;
      &.hot {
        width: 22px;
        height: 28px;
        background-image: url('./../images/hot_d.png');
      }
      &.new {
        width: 28px;
        height: 28px;
        background-image: url('./../images/new_d.png');
      }
    }
    &.current {
      color: @primary;
      .hot {
        background-image: url('./../images/hot_p.png');
      }
      .new {
        background-image: url('./../images/new_p.png');
      }
    }
  }
}

.top-content {
  background: #FFF;
  .top-item {
    display: flex;
    align-items: center;
    .game-list-item {
      flex: 1;
    }
    .top-number {
      width: 56px;
      height: 78px;
      line-height: 78px;
      margin: 0 36px;
      font-size: 32px;
      text-align: center;
      color: #333;
      background-size: 100%;
      background-repeat: no-repeat;
    }
    &:nth-child(1) {
      .top-number {
        background-image: url("./../images/ranking_1.png");
      }
    }
    &:nth-child(2) {
      .top-number {
        background-image: url("./../images/ranking_2.png");
      }
    }
    &:nth-child(3) {
      .top-number {
        background-image: url("./../images/ranking_3.png");
      }
    }
  }
}


/***详情页*/

.detail-content {
  padding-bottom: 80px;
  background: #FFF;
}

.video-player {
  width: 100%;
  height: 422px;
  overflow: hidden;
  position: relative;
  .poster {
    width: 100%;
    height: 422px;
    position: absolute;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .play-button {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -55px;
    margin-left: -55px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("./../images/player_video_play.png");
    z-index: 2;
  }
  .play-overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 144px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("./../images/player_overlay.png");
  }
}

.detail-info {
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #E4E4E4;
  .text-info {
    flex: 1;
    .title {
      padding: 40px 0 30px;
      font-size: 42px;
      color: #333;
    }
    .group-badge {
      margin: 34px 0 30px;
    }
    .sub-title {
      margin-bottom: 40px;
      font-size: 26px;
      color: #8E8E8E;
    }
  }
  .go-play-button {
    &.button {
      width: 142px;
      height: 72px;
      font-size: 36px;
      color: #FFF;
      border: none;
    }
  }
}

.detail-swiper {
  border-bottom: 1px solid #E4E4E4;
  .swiper-title {
    padding: 0 20px;
    margin: 40px 0;
    font-size: 32px;
    color: #333;
  }
  .swiper-images {
    display: flex;
    height: 366px;
    padding-left: 20px;
    margin-bottom: 40px;
    overflow: auto;
    img {
      height: 100%;
      margin-right: 24px;
    }
  }
}

.detail-summary {
  padding: 0 20px 40px;
  .summary-title {
    margin: 40px 0;
    font-size: 32px;
    color: #333;
  }
  .summary-content {
    font-size: 30px;
    color: #8E8E8E;
    line-height: 48px;
  }
}

.download-link {
  width: 100%;
  height: 80px;
  line-height: 80px;
  position: fixed;
  bottom: 0;
  background: @primary;
  font-size: 36px;
  color: #FFF;
  text-align: center;
}


/***星星评分**/

.stars {
  display: inline-block;
  .star {
    display: inline-block;
    width: 24px;
    height: 25px;
    margin-right: 6px;
    background-size: 271px 24px;
    background-image: url('./../images/star.png');
    background-repeat: no-repeat;
    &.star-temp {
      background-position: 0px 0;
    }
    &.star-1 {
      background-position: -(24*1px) 0;
    }
    &.star-2 {
      background-position: -49px 0;
    }
    &.star-3 {
      background-position: -73px 0;
    }
    &.star-4 {
      background-position: -99px 0;
    }
    &.star-5 {
      background-position: -123px 0;
    }
    &.star-6 {
      background-position: -148px 0;
    }
    &.star-7 {
      background-position: -173px 0;
    }
    &.star-8 {
      background-position: -196px 0;
    }
    &.star-9 {
      background-position: -221px 0;
    }
    &.star-full {
      background-position: -246px 0;
    }
  }
  .number {
    display: inline-block;
    margin-left: 20px;
    font-size: 30px;
    color: @primary;
  }
}
