<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="description" content="H5 游戏中心" />
	<title>H5 游戏中心</title>
</head>
<body>
	<div class="container">
		<div id="root"></div>
	</div>
</body>
</html>
