.head-content {
  height: 170px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.head-inner {
  display: flex;
  padding: 30px 24px 40px;
  display: flex;
  align-items: center;
}

.user-head {
  width: 100px;
  height: 100px;
}

.user-text {
  margin-left: 20px;
  font-size: 36px;
  font-weight: bold;
  color: #FFF;
}

.game-content {
  padding-top: 20px;
  background: #F2F2F2;
}

.g-item {
  padding: 40px 20px;
  background: #FFF;
}

.g-item .title h5 {
  flex: 1;
  line-height: 0.45rem;
  text-align: left;
  font-size: 32px;
}
