.head-content {
  height: 170px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.head-inner {
  display: flex;
  padding: 30px 24px 40px;
  display: flex;
  align-items: center;
}

.user-head {
  width: 100px;
  height: 100px;
}

.user-text {
  margin-left: 20px;
  font-size: 36px;
  font-weight: bold;
  color: #FFF;
}
