@import '../style/base.less';
.header {
  width: 100%;
  height: 88px;
  position: fixed;
  top: 0;
  border-bottom: 1px solid @header-border-color;
  background: #FFF;
}

.header-title-wrap {
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  pointer-events: none;
}

.header-title {
  height: 88px;
  line-height: 88px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: @primary;
}
